.main-footer {

    &__widget {
        background: var(--color4, #090C0F);
        padding-top: 77px;
        padding-bottom: 85px;

        &-logo {
            text-align: center;
        }

        &-center {
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 0;
            /* 130% */
            h5 {
                color: #929292;
                margin-bottom: 38px;
            }
        }

        &-social{
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 36px;
            flex-wrap: wrap;
            margin-top: 40px;
        }
    }

    &__socket {
        background: #101518;
        text-align: center;
        padding-top: 28px;
        padding-bottom: 28px;

        &-copyright {
            color: var(--color5, #FFF);
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 0;
        }
    }
}