$fonts_primary: (
  'Lora-Bold': (family: 'Lora', file: 'Lora-Bold', weight: 700, style: normal),
  'Lora-BoldItalic': (family: 'Lora', file: 'Lora-BoldItalic', weight: 700, style: italic),
  'Lora-Italic': (family: 'Lora', file: 'Lora-Italic', weight: 400, style: italic),  
  'Lora-Medium': (family: 'Lora', file: 'Lora-Medium', weight: 500, style: normal),  
  'Lora-MediumItalic': (family: 'Lora', file: 'Lora-MediumItalic', weight: 500, style: italic),  
  'Lora-Regular': (family: 'Lora', file: 'Lora-Regular', weight: 400, style: normal),  
  'Lora-SemiBold': (family: 'Lora', file: 'Lora-SemiBold', weight: 600, style: normal),  
  'Lora-SemiBoldItalic': (family: 'Lora', file: 'Lora-SemiBoldItalic', weight: 600, style: italic) 
);

$color_1: #0F1533;
$color_2: #D02028;
$color_3: #928342;
$color_4: #090C0F;

